body {
    font-family: Arial, sans-serif;
    
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: lightcyan;
}

header {
    background: #004d99;
    color: #fff;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background: #f4f4f4;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.alert.success {
    color: green;
}

.alert.error {
    color: red;
}

.sub {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}


label{
    font-weight: bold;
}
.cat{
    text-align: center;
    font-size:50px;
    font-weight: bold;
    text-transform:capitalize;
    color: lightskyblue
}
.cat2{
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    
}

.course-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
    gap: 20px;
}

.form-row {
    display: flex;
    flex-direction: column;
    width: 45%;
}
